html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--meduimWhite);
    text-align: center;
}

button {
    cursor: pointer;
    appearance: none;
}

img {
    max-width: 100%;
}

body {
    background-color: var(--bgcColor);
    margin: 0;
}

a {
    text-decoration: none;
}

.btn {
    letter-spacing: 0.03em;
    color: var(--lowGrey);
    background-color: var(--lowWhite);
    border: 2px solid var(--highGrey);
    font-size: 1em;
    cursor: pointer;
    transition: 
    color 0.3s,
    border-color 0.3s;
}

.btn:hover {
    color: var(--highGrey);
    border-color: black;
}

.btn.round {
    border-radius: 2em;
}

.btn1 {
    background: none;
    border: solid 1px var(--lowGrey);
    border-radius: 0.5em;
    transition: 0.5s;
}

.btn1:hover {
    scale: 1.1;
}

.btn1:active {
    scale: 0.9;
}

body.menu-open {
    background-color: var(--highGrey);
}

.btn-toggle-menu{
    display: none;
    position: relative;
    width: 10vw;
    right: 4vw;
    background: none;
    border: none;
}

body.menu-open .main-nav-list {
    transform: translate(0%);
}

.main-screen {
    position: fixed;
    inset: 0;
    background-color: var(--bgcColor);
    opacity: 0;
    pointer-events: none;
}

body.menu-open .main-screen  {
    pointer-events: auto;
    cursor: pointer;
    opacity: 0.8;
}

body.menu-open .main-nav {
    transform: translateX(0%);
    transition: opacity 1s;
    opacity: 1;
}



/* body.menu-open .btn-toggle-menu {
    display: grid;
} */


/* 
body.menu-open{
    opacity: 1;
    background-color: #1a1a1ada;
}

body.menu-open .main-nav-list{
    display: fixed;
    transform: translateX(-25%);
    opacity: 1;
}

body.menu-open .main-nav{
    height: 100vh;
}

.success-msg{
    display: none;
    position: absolute;
    bottom: -1vh;
    right: -1vw;
    align-items: center;
    width: 10vw;
    height: 5vh;
    background-color: var(--greenTrans);
    position: fixed;
    top: 50vh;
    left: 50vw;
} */