html{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: Tahoma;
    text-align: center;
    background-image: url(../../img/black-bgc.jpg);
}

button {
    cursor: pointer;
    appearance: none;
}

img{
    width: 100%;
}

body.menu-open{
    opacity: 1;
    background-color: #1a1a1ada;
    z-index: 1;
}

body.menu-open .main-nav-list{
    display: block;
    transform: translateX(-25%);
    opacity: 1;
}

body.menu-open .main-nav{
    height: 100vh;
    /* background: black; */
    /* z-index: 10; */
}

.success-msg{
    display: none;
    align-items: center;
    width: 10vw;
    height: 5vh;
    background-color: #7ef20a;
    position: fixed;
    top: 50vh;
    left: 50vw;
}