html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-image: url(../../img/black-bgc.jpg);
}

button {
    cursor: pointer;
    appearance: none;
}

img{
    width: 100%;
}