.editor-container{
    display: none;
    grid-template-columns: 45vw 45vw;
    grid-auto-flow: column;
    column-gap: 20px;
    transform: translateX(-300%);
    transition: transform 1.5s;
}

.canvas-container, .canvas-editor{
    border-radius: 1em;
}

.actions {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgba(92, 92, 92, 0.6);
    border-radius: 1em;
    row-gap: 10px;
    grid-template-columns: repeat(5,1fr);
}

.actions > * {
    grid-column: 1/-1;
}

.actions > * img {
    width: 5vw;
    height: 5vw;
    align-self: center;
}

.color-selector{
    position: absolute;
    visibility: hidden;
}

.meme-text {
    margin-block-start: 10px;
    width: 30vw;
    border-radius: 1em;
    justify-self: center;
    height: 5vh;
}

.label-color-selector, .label-color-selector{
    cursor: pointer;
    grid-row: 2;
    grid-column: 1;
}

.increase-font {
    grid-row: 2;
    grid-column: 2;
}

.decrease-font {
    grid-row: 2;
    grid-column: 3;
}

.switch-line{
    grid-row: 2;
    grid-column: 4;
}

.add-line{
    grid-row: 2;
    grid-column: 5;
}

.delete-line{
    grid-row: 3;
    grid-column: 1;
}

.left-aligment{
    grid-row: 3;
    grid-column: 2;
}

.center-aligment{
    grid-row: 3;
    grid-column: 3;
}

.right-aligment{
    grid-row: 3;
    grid-column: 4;
}

.save-meme{
    grid-row: 3;
    grid-column: 5;
}

.download-link, .share-to-fb , .remove-frame {
    display: grid;
    align-items: center;
    padding: 5px;
    width: 15vw;
    height: 4vh;
    text-decoration: none;
    font-style: inherit;
    color: inherit;
    transition: 0.5s;
}

.download-link:hover, .share-to-fb:hover , .remove-frame:hover {
    scale: 1.1;
}

.font-selector {
    grid-column: 1;
}

.remove-frame {
    grid-column: 3/5;
    justify-self: start;
    background: rgba(251, 184, 60, 0.776);
}

.share-to-fb {
    grid-column: 1/3;
    background-color: royalblue;
}

.download-link{
    grid-column: 4/6;
    background-color: var(--greenTrans);
}

.success-msg{
    display: none;
    align-items: center;
    position: absolute;
    right: 1vw;
    bottom: 1vh;
    width: 20vw;
    height: 5vh;
    background-color: rgba(24, 137, 51, 0.558);
    color: whitesmoke;
}



