
.main-nav-container{
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    justify-content: space-around;
}

.main-nav-list{
    grid-auto-flow: column;
    justify-content: space-around;
}

.main-nav-list li button{
    background-color: #1DA898;
    border: none;
}

