/* MOBILE ONLY */

@media (max-width: 860px){
    html {
        font-size: 12px;
    }
    .main-layout {
        height: 90vh;
    }
    .main-container .editor-container {
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 2fr;
        justify-items: center;
        row-gap: 10px;
    }
    .main-container .editor-container .canvas-container , .main-container .editor-container canvas {
        width: 80vw;
    }
    .editor-container .actions{
        width: 80vw;
    }

    .main-nav {
        transform: translateX(100%);
        opacity: 0;
        position: fixed;
        height: 100vh;
        width: 30vw;
        top:0;
        right: 0;
        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        transition: grid-template-rows 1s;
        align-items: end;
        background-color: var(--bgcColor);
    }

    .main-header .main-nav-list {
        position: fixed;
        grid-auto-flow: row;
        /* row-gap: 20px; */
        top: 0vh;
        transform: translateX(200%);
        transition: transform 1s;
        align-items: start;
        height: 10vh;
    }

    .main-header .main-nav-list button {
        border: none;
        width: 30vw;
        background-color: var(--highGrey);
        color: var(--meduimWhite);
        height: 3vh;
        border-radius: 0.5em;
        align-items: start;
        height: 10vh;
    }

    .main-header .btn-toggle-menu {
        display: grid;
    }

    .gallery-container .images-container { 
        grid-template-columns: repeat(3,minmax(100px,1fr));
    }

}   

/* SMALL */

@media (min-width: 640px)  {
    html {
        font-size: 14px;
    }
    .main-layout {
        grid-template-columns: minmax(20px,1fr) minmax(auto,600px), minmax(20px,1fr);
    }
}  

/* MEDUIM */

@media (min-width: 860px){
    html {
        font-size: 14px;
    }

    .main-layout {
        grid-template-columns: minmax(20px,1fr) minmax(auto,860px) minmax(20px,1fr);
    }

    .gallery-container .images-container { 
        grid-template-columns: repeat(4,minmax(100px,1fr));
    }
}

/* LARGE */

@media (min-width: 1040px){
    html {
        font-size: 16px;
    }

    .main-layout {
        grid-template-columns: minmax(20px,1fr) minmax(auto,1060px) minmax(20px,1fr);
    }
}